#bodyH1{
	text-align: center;
	font-style: italic;

}





.item {
	
	
    margin: 10px;
    font-style: italic;
	background-color: ghostwhite;
 

}
 


* {
  	box-sizing: border-box;
  }

  .container {
  	display:flex;
  	
    

  	justify-content: center;

  }
  .title{
    	background-color: indianred;
    	width: 130px;
    	height:30pxpx ;
    	text-align: center;
    	box-sizing: border-box;
    	margin-top: -170px;
    	margin-right: -25px;
        
    	border:black;
    	border-style: solid;
    	
    	
}
.item{
  	min-width: 200px;
  	overflow-block:hidden;
  	text-overflow: clip;
  	height: 200px;
  	margin: 10px;
  	display: flex;
  	align-items: center;
    justify-content: center;
    border: 6px solid black;
    background-color:lightgray;
    padding: 20px;
    
  }

@media (min-width: 992px){
  	.item{
  	min-width: 200px;
  	width: 33.33%;
  	height: 200px;
  	margin: 10px;
  	display: flex;
  	align-items: center;
    justify-content: center;
    border: 6px solid black;
    background-color:lightgray;
    padding: 20px;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  	.item {
  		
  		flex: 1 1 50%;
  		.item:nth-child(3){
  			flex-basis: 100%;
  			flex-wrap: wrap;
  		}
  		
  	}

}

@media (max-width: 767px) {
    .container {
    	flex-direction: column;
    	align-items: center;

    }

    .item {
    	flex: 1 1 100%;
    	overflow-block:hidden;
  	    text-overflow: clip;
    }


    #paragraph1{
    	
    	.title{
    		
    		margin-top: -90px;
    		
    	}
    }	
    #paragraph2{

    	.title{
    		
    		margin-top: -75px;
            
    	}
    }	
    #paragraph3	{
    	.title{

    		margin-top: -90px;
    		
    	}
    }
}
    

 


